.hero {
  padding-block: 150px 140px !important;
}

.hero-content {
  margin-block-end: 80px;
}

.hero-text {
  font-size: var(--fs-5);
  margin-block: 25px 40px;
}

@media (min-width: 575px) {
  .hero-text {
    --fs-5: 2rem;
  }
}

@media (min-width: 992px) {
  .hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 30px;
  }

  .hero-content {
    margin-block-end: 0;
  }
}

@media (min-width: 1200px) {
  .hero .container {
    gap: 100px;
  }
}
