.footer-top {
  background-color: var(--eerie-black-1);
  padding-block: 80px 50px;
}

.footer-top .container {
  display: grid;
  gap: 50px;
}

.footer .logo {
  font-size: 3rem;
}

.footer-title {
  color: var(--white);
  font-size: var(--fs-3);
  margin-block: 25px 20px;
}

.footer-contact-link:not(:last-child) {
  margin-block-end: 12px;
}

address.footer-contact-link {
  max-width: 30ch;
}

.footer-list-title {
  color: var(--white);
  font-size: var(--fs-7);
  font-weight: var(--fw-700);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-list > li:not(:last-child) {
  margin-block-end: 10px;
}

.footer-list > li:first-child {
  margin-block-end: 20px;
}

.footer-link {
  color: var(--gainsboro);
  transition: var(--transition-1);
}

.footer-link:is(:hover, :focus) {
  color: var(--blue-crayola);
}

.footer-bottom {
  background-color: var(--eerie-black-2);
  padding-block: 20px;
}

.copyright {
  text-align: center;
  margin-block-end: 20px;
}

.copyright-link {
  display: inline-block;
  color: var(--blue-crayola);
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-link {
  font-size: 18px;
  transition: var(--transition-1);
}

.social-link:is(:hover, :focus) {
  color: var(--blue-crayola);
}

@media (min-width: 768px) {
  .footer-top .container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer-brand {
    grid-column: 1 / 3;
  }

  .footer-bottom .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyright {
    margin-block-end: 0;
  }
}

@media (min-width: 1200px) {
  .footer-top {
    padding-block: 100px 90px;
  }

  .footer-top .container {
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
  }

  .footer-brand {
    grid-column: auto;
  }
}
